.accountants-page {
    display: flex;
    justify-content: center;

    height: 100%;

    margin: 0 auto;

    overflow-x: auto;
    scroll-behavior: smooth;
}

.accountants-page .accountants-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 75vh;
    height: fit-content;

    padding: 50px 0 100px 0;
}
